<header class="site-header">
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="logo">
          <img src="/images/testeleven-logo.png" alt="Testeleven web development">
        </div>
        <div class="contact hide-for-small">
          <a href="/contact">Get in Touch</a>
        </div>
        <div class="tagline">
          <p class="small">We build and repair websites, install forums and content management systems.</p>
        </div>
        <div class="menu-toggle show-for-small">
          <button class="menu-toggle-btn">
            <%= partial 'partials/bars' %>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>