<div class="radio-button">
  <input type="radio" name="account-status" value="new" id="new-account" checked>
  <label for="new-account"><span><span></span></span>New Customer</label>
</div>
<div class="radio-button">
  <input type="radio" name="account-status" id="existing-account" value="returning">
  <label for="existing-account"><span><span></span></span>Returning Customer</label>
</div>