<div class="radio-label">New Customer:</div>
  <div class="radio-button">
    <%= image_tag 'radioButtonOff_21x21.png', :alt => "radio button off", :class => 'radio radio-hide' %>
    <%= image_tag 'radioButtonOn_21x21.png', :alt => "radio button on", :class => 'radio radio-display' %>
  </div>
<div class="radio-label">Returning Customer:</div>
  <div class="radio-button">
    <%= image_tag 'radioButtonOff_21x21.png', :alt => "radio button off", :class => 'radio radio-display' %>
    <%= image_tag 'radioButtonOn_21x21.png', :alt => "radio button on", :class => 'radio radio-hide' %>
  </div>
