.signup .signup-form label {
  width: 100%;
  font-size: 14px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="submit"],
.signup-form textarea,
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="submit"],
.contact-form textarea {
  width: 100%;
  margin-bottom: $half-rhythm;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form textarea,
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
  border: 1px solid;
  border-radius: 3px;
  padding: $quarter-rhythm;
}

textarea {
  min-height: 8em;
}

.input-error {
  color: red;
}

.radio {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.radio-button {
  height: 36px;
  width: 36px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
  }
  .radio-hide {
    z-index: 0;
  }
  .radio-display {
    z-index: 10;
  }
}

.radio-label {
  display: inline-block;
  line-height: 36px;
}
